:root{
    --botao-envio : hsl(25, 97%, 53%);
    --texto-principal: 'Overpass', sans-serif;
    --cor-background:hsl(216, 12%, 8%);
    --cor-container: hsl(213, 19%, 18%);
    --branco: hsl(0, 0%, 100%);
    --cinza:hsl(217, 12%, 63%);
    --cinza-medio:hsl(217, 11%, 28%);
    
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    font-family: var(--texto-principal);
    background-color: var(--cor-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}



.container{
    background-color: var(--cor-container);
    width: 100%;
    max-width: 375px;
    padding: 1em;
    border-radius: 15px;
    height: 375px;
    align-self: center;
    margin-top: 10em;
    
}

.container img{
    padding: 12px;
    margin-bottom: 1em;
    background-color: var(--cinza-medio);
    border-radius: 100%;
}

.container__titulo{
    color: var(--branco);
    font-weight: 700;
    margin-bottom: 1rem;
}

.container__paragrafo{
    color: var(--cinza);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.classificacao{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    text-align: center;
}

.container__classificacao{
    color:var(--cinza);
    border-radius: 100%;
    background-color: var(--cinza-medio);
    height: 45px;
    width: 45px;
    background-size: contain;
    border: none;
    font-size: 15px;

}

.container__botao{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    

}

.container__botao button{
    border: none;
    width: 350px;
    height: 6vh;
    border-radius: 18px;
    color: var(--branco);
    background-color: var(--botao-envio);
    text-transform: uppercase;
    letter-spacing: 1px;

}


.container__classificacao:hover{
    background-color: var(--cinza);
    color: var(--branco);
    cursor: pointer;
}
.container__classificacao-active{
    background-color: var(--botao-envio);
    color: var(--branco);
    cursor: pointer;
}

.container__botao button:hover{
    background-color: var(--branco);
    color: var(--botao-envio);
    cursor: pointer;
}